.intro_title {
  width: 700px;
  height: 100px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 100px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 50px 0px 50px 40px;
}

.intro_description {
  width: 800px;
  height: 200px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
  margin-left: 40px;
}

.intro_button {
  width: 450px;
  height: 80px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #000000;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin: 50px 0px 50px 40px;
}

.intro_button_text {
  width: 194.5px;
  height: 20px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;

  color: #ffffff;
}

.selectQuiz{
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 40px;

}

.image {
  width: 800px;
  height: 1,018.16px;
  object-fit: contain;
  margin-left: -20px;
}

.column {
  float: left;
  width: 30%;
  padding: 50px 150px 300px 150px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-top: 350px;
}

.question {
  width: 700px;
  height: 70px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
  padding-bottom: 250px;
  margin: 40px;
}

.fact {
  width: 480px;
  height: 260px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.myth {
  width: 480px;
  height: 260px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.fact_button {
  width: 330px;
  height: 100px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(74, 144, 226, 0.4);
  background-color: #4a90e2;
  margin-left: 30px;
}

.myth_button {
  width: 330px;
  height: 100px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(66, 75, 90, 0.4);
  background-color: #424b5a;
  margin-left: 20px;
}

.white_square {
  width: 800px;
  height: 631px;
  border-radius: 7.5px;
  box-shadow: 0 2px 4px 0 #9b9b9b;
  background-color: #ffffff;
  object-fit: contain;
  padding: 0px 50px 0px 8px;

}

.internal_container {
  padding: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 13% 57% -15% 43%;

}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.quizselect {
  width: 550px;
  height: 459.5890410864px;
  padding: 29.5px;

}

.selectquiztitle {
  width: 2000px;
  height: 100px;
  font-family: Arial, Helvetica, SFProText;
  font-size: 90px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 200px 0px 70px 35px;
}

.topicrow:after {
  content: "";
  display: table;
  clear: both;
}

.formgrouping {
  padding-left: 170px;
}


.fa-circle{
    margin: 1%;
    font-size: 40px !important;
}
